body{
    background: linear-gradient(
                     rgba(255, 245, 245, 0.116), 
                     rgba(20,20,20, .5)),
                     url("../images/burger.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
}

.footer-copyright {
    background-color: rgba(252, 240, 223, 0.733);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
